[project]
[access "refs/*"]
	create = group Crespo Maintainers
	forgeAuthor = group Crespo Maintainers
	forgeCommitter = group Crespo Maintainers
	push = +force group Crespo Maintainers
	pushMerge = group Crespo Maintainers
	label-Code-Review = -2..+2 group Crespo Maintainers
	label-Verified = -1..+1 group Crespo Maintainers
	submit = group Crespo Maintainers
[submit]
	action = rebase if necessary
